.bio {
font-family:Georgia;
text-align:center;
line-height:1;
color:#35384A;
background-color:#E5BAC3;
padding:15px;
width:800px;
margin: 0 auto;
border-style:dashed;
border-color:#CDE2D1;
}

body{
background-color:#B8C6C6;
}

h1{
font-size:20px;
color:#628876;
font-family:Georgia;
font-weight:bold;
text-align:center;
}

h2{
font-size:14px;
font-family:Georgia;
text-align:center;
color:#4C3559;
}

p{
font-family:Georgia;
line-height:.65;
color:#35384A;
}

ul{
font-family:Georgia;
color:#35384A;
}

a{color:#CF828C;}

img{
width:150px;
height:auto;
display:block;
margin:0 auto;
}

.section{
font-size:16px;
font-weight:bold;
font-style:italic;
color:#4C3559;
text-decoration: underline;
}

.center{text-align:center;}

.bold{
font-weight:bold;
color:#662F3E;
}

.boxed{
background-color:#E5BAC3;
padding:15px;
width:800px;
margin: 0 auto;
border-style:dashed;
border-color:#CDE2D1;
}
