body{
background-color:#C6DAD8;
font-family:Goudy Old Style;
}

h1{
text-decoration:underline;
font-size:35px;
line-height:.55;
}

h2, h3{
font-size:16px;
line-height:.4;
}

img{
width:600px;
height:auto;
display:block;
margin:0 auto;
}

ol{
font-weight: bold;
}

ul{
font-weight:normal;
}

hr{
padding:0px;
margin:-10px auto;
width:99%;
}

code{
border-style:solid;
border-width:1px;
border-color:#B8C6C6;
background-color:#E7E1EE;
}

.section{
font-size:25px;
line-height:.55;
}

.high{
color:#CF0050;
font-weight:bold;
}

.mod{
color:#FF6100;
font-weight:bold;
}