body{
background-color:#B8C6C6;
font-family:Georgia;
}

h1{
text-decoration:underline;

}

img{
width:600px;
height:auto;
display:block;
margin:0 auto;
}

hr{
padding:0px;
margin:-10px auto;
width:99%;
}

.section{text-decoration:underline;}