h1{
	font-family:Georgia;
	font-weight:bold;
	text-align:center;
}

h2{
	font-family:Georgia;
	font-style:italic;
	text-align:center;
}

video{
	display:block;
	margin:0 auto;
}

body{background-color:#D3C5D3;}